:root {
  --beige: #fffaee;
  --purple: #a968a2;
  --dark-purple: #70066f;
  --light-purple: #d4b2c8;
  --text: #343d61;
}

.App {
  text-align: center;
  background-color: var(--beige);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: var(--text);
}

.header {
  padding-top: 10vh;
  max-width: 80%;
}

.definitionRoot {
  display: grid;
  grid-template-columns: 20% auto;
  align-items: center;
  font-size: 15px;
  padding: 15px;
}

.definitionText {
  border-left: 1px solid var(--purple);
  text-align: left;
  padding-left: 10px;
}
